<h1 class="title-page">Клиенты</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Клиенты делятся на две категории: "Действительные" и "Потенциальные". При добавлении клиента в базу клиент по умолчанию добавляется как "Действительный". Чтобы он был потенциальным, достаточно при добавлении поставить галочку "Потенциальный".</p>
    <p>
      На главной странице клиентов отображена таблица, которая содержит информацию о клиентах (фамилия, имя, телефоны и т.д.)
    </p>
    <p>Для того чтобы понять, обращался ли к вам клиент ранее, можно набрать его фамилию в "быстром поиске".</p>
    <p>Для просмотра подробной информации о клиенте нажмите на значок "глазка" справа. В подробной информации можно посмотреть, когда последний раз клиент к Вам обращался, или же нажать кнопку "Клиент только что обратился" для того, чтобы зафиксировать это время. Есть возможность посмотреть объекты недвижимости, принадлежащие этому клиенту.</p>
  </div>
</div>