<h1 class="title-page">Важно!</h1>
<div class="row">
  <div class="span8 help-content">
    <ul class="danger-dependent">
      <li>
        При удалении города(из настроек) - удаляются все объекты недвижимости и районы привязанные к этому городу!
      </li>
      <li>
        При удалении типа объекта(из настроек) - удаляются все объекты и дополнительные поля привязанные к этому типу объекта
      </li>
      <li>При удалении дополнительного поля(из настроек) - удаляются все значения этого объекта</li>
    </ul>
    <h2>Будьте, внимательны!</h2>
  </div>
</div>