<h1 class="title-page">Отчеты</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел "Отчеты" выводит статистику за определенный период времени.</p>
    <p>Раздел "Отчеты" предназначен только для администраторов, где они могут следить за динамикой развития своей компании в финансовом плане (информация берется из раздела "Сделки"), за активностью сотрудников, за общей статистикой.</p>
  </div>
</div>