<h1 class="title-page">Поиск</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел <b>"Поиск"</b> предназначен для расширенного поиска объектов недвижимости.</p>
    <p>Поиск дает возможность искать по следующим полям:</p>
    <ul>
      <li>Город</li>
      <li>Тип сделки</li>
      <li>Тип недвижимости</li>
      <li>Район</li>
      <li>Цена</li>
      <li>Площадь</li>
      <li>Количество комнат (зависит от типа недвижимости)</li>
    </ul>
    <p>Результаты поиска выводятся по 15 объектов на страницу. Их можно отсортировать по цене, по площади, по дате добавления.</p>
  </div>
</div>