<h1 class="title-page">Объекты</h1>
<div class="row">
  <div class="span8 help-content">
    <p>
      Раздел "Объекты" показывает все объекты недвижимости, которые Вы заносили в базу ранее. Объекты делятся на "Активные" и "Не активные".
    </p>
    <p>
      "Активные" объекты - это те объекты, которые еще не проданы/не сданы в аренду и т.д.
    </p>
    <p>
      "Не активные" объекты - объекты переходят автоматически в эту категорию после того, как объект был выбран в сделке в качестве объекта сделки.
    </p>
    <p>Также работает сортировка таблицы по разным полям: по типу сделки, по городу, по количеству комнат, по цене, по площади</p>
    <p>
      Если Вы нажмете на "глазок", то перейдете на сам объект недвижимости, где Вы можете им управлять: отредактировать, удалить, добавить дополнительную информацию (в зависимости от типа объекта), добавить фотографии, посмотреть, кто владелец данного объекта.
    </p>
  </div>
</div>