<h1 class="title-page">Задачи</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел "Задачи" предназначен как для обычных сотрудников, так и для администраторов. Здесь Вы можете удобно поставить себе некую задачу, дедлайн (срок) выполнения.</p>
    <p>Разница интерфейса между обычными сотрудниками и администраторами заключается в следующем: администратор может ставить задачи как себе, так и собственным сотрудникам. На главной странице задач администратор видит как собственные задачи, так и поставленные им другим сотрудникам.</p>
    <p>Для того, чтобы каждый раз не заходить в раздел и не смотреть, сколько у Вас не выполненных задач, можно нажать в правом верхнем углу меню на свое имя: там отображается пункт "Мои задачи" и число не выполненных задач.</p>
    <p>Интерфейс сотрудника отличается от интерфейса администратора лишь тем, что он видит только свои задачи и задачи, поставленные администратором.</p>
  </div>
</div>