<h1 class="title-page">Сделки</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел "Сделки" очень удобен для ведения учета Ваших успешных сделок.</p>
    <p>На главной странице сделок также имеется возможность быстрого поиска, сортировки по разным полям таблицы.</p>
    <p>Как заключить сделку? Надо всего лишь зайти в раздел "Клиенты", найти того клиента, с которым Вы хотите провести сделку, и нажать на ссылку "сделка". Также можно зайти в подробную информацию о клиенте и нажать на кнопку "Заключить сделку". Сделку заключить можно только с действующим клиентом, с потенциальным заключить сделку нельзя. Чтобы потенциальный клиент стал действующим, стоит всего лишь добавить к этому клиенту объект недвижимости, и он сам автоматически перейдет с разряда "потенциальных клиентов" в разряд "действующие клиенты". Также можно отредактировать клиента, убрав галочку "Потенциальный клиент".</p>
    <p>В форме заключения сделки Вы указываете тип сделки (продажа, купля, аренда и т.д), название сделки, ее описание, назначаете ответственного (если Вы - администратор), можете указать объект сделки, если такой имеется, сумму, и указать оплачена сделка или нет. Если сделка оплачена, и имеется объект недвижимости, то этот объект автоматически перейдет в разряд "не активных" объектов недвижимости.</p>
    <p>Сделку также как и любые другие модели можно удалять и редактировать. Есть возможность прикреплять к сделке соответствующие документы (договора, юридические бумаги и т.д), что позволяет естественным образом структурировать электронный документооборот в Вашей фирме.</p>
  </div>
</div>