<h1 class="title-page">Персонал</h1>
<div class="row">
  <div class="span8 help-content">
    <p>Раздел "Персонал" предназначен для управления Вашими сотрудниками в системе "Этванс"</p>
    <p>Пройдя в сам раздел, Вы увидите всех сотрудников, которых Вы зарегистрировали в системе.</p>
    <p>Их можно удалять, редактировать, а также просматривать подробную информацию о них.</p>
  </div>
</div>