<!-- about page -->
<h1 class="page-title">О компании</h1>
<div id="about-page">
  <p>Принято считать, что для того, чтобы максимально продуктивно решать сложные творческие задачи, требующие сосредоточенности и погружения в «поток», лучше всего подходит тихое, изолированное место. В статье «Всегда ли шум мешает? Исследование воздействия окружающего шума на творческое мышление» (PDF), опубликованной в журнале Journal of Consumer Research, приведены результаты экспериментов, опровергающие это утверждение.
  </p>
  <p>Учёные провели ряд тестов на решение творческих задач, разделив участников на несколько групп, каждая из которых выполняла задания в разных акустических условиях — с низким (50 дБ), средним (70 дБ) и высоким (85 дБ) уровнями шума. В качестве источников шума использовалась смесь аудиозаписей окружающего шума в кафе, дорожного движения и отдалённой стройки. 50 дБ соответствует негромкому разговору или тихой улице</p>
</div>