<!-- about page -->
<h1 class="page-title">О компании</h1>
<div id="about-page">
<p>ИПОТЕЧНЫЙ ЦЕНТР – это агентство по недвижимости, основными приоритетами для которого являются профессионализм, уважение, новаторство и порядочность. Наша цель – внедрение в свою деятельность новых прогрессивных механизмов и методов работы, позволяющих максимально эффективно соответствовать требованиям наших Клиентов</p>
<p>
  ИПОТЕЧНЫЙ ЦЕНТР профессионально оказывает услуги по продаже недвижимости. В комплекс услуг по продаже недвижимости входят мероприятия по фотографированию объекта недвижимости, размещению объявлений о продаже в печатных и интернет изданиях, поиску потенциальных покупателей, организации показов объекта недвижимости, юридическому сопровождению и организации сделки. Все услуги, связанные с ПРОДАЖЕЙ недвижимости, оказываются на БЕЗВОЗМЕЗДНОЙ основе, без взимания каких-либо «процентов» и «комиссионных».
</p>
<p>
  При ПОИСКЕ недвижимости для своих Клиентов компания ИПОТЕЧНЫЙ ЦЕНТР руководствуется в первую очередь интересами и предпочтениями своих Клиентов, подбирая максимально «качественные», «удобные» и «рентабельные» объекты недвижимости в пределах установленного Клиентом ценового диапазона. Для снижения рисков Клиента компания проводит юридическую экспертизу правоустанавливающих документов на приобретаемую недвижимость, а также осуществляет контроль за правильным оформлением договоров и документов при покупке недвижимости.
</p>
<p>Помимо этого компания ИПОТЕЧНЫЙ ЦЕНТР профессионально занимается поиском и подбором недвижимости, приобретаемой нашими Клиентами в ИПОТЕКУ. Сотрудники компании имеют многолетний опыт работы в ведущих банках Казахстана в сфере кредитования, оценки, залогового обеспечения, юридической экспертизы и с удовольствием Вам предложат следующие услуги: </p>
<ul>
  <li>консультации по вопросам ипотеки;</li>
<li>подбор оптимального варианта ипотечного займа;</li>
<li>предварительная оценка платежеспособности Клиента и возможности получения им ипотеки, правовая экспертиза документов;</li>
<li>полное или частичное сопровождение ипотечных процедур;</li>
<li>представительские услуги в банках второго уровня, ЦОНах, центре по недвижимости, БТИ, адресном бюро, оценочных компаниях, нотариальных конторах и пр.;</li>
<li>поиск и подбор недвижимости под ипотеку, предварительная оценка ее рыночной  стоимости, экспертиза правоустанавливающих документов объекта недвижимости.</li>
</ul>
<p>
  Также новым направлением Компании являются услуги по дизайну интерьера. Мы поможем сделать Ваш интерьер красивым и функциональным: разработаем эскизный проект дизайна интерьера с рабочими чертежами и визуализацией, поможем с выбором отделочных материалов, мебели, предметов интерьера, осуществим авторский надзор над реализацией проекта, при этом максимально адаптируем дизайн-проект под Ваш бюджет.
</p>
<p>Наша цель – помочь Вам! Наш девиз – профессионализм и порядочность! </p>
</div>