<!-- advices page -->
<h1 class="page-title">Полезные советы</h1>
<div class="grid_11" id="advices">
  <% @advices.each do |a| %>
    <div class="advice">
      <h1 class="advice-title">
        <%= a.title %>
      </h1>
      <div class="advice-body">

      </div>
    </div>
  <% end %>
</div>