<!-- contacts page -->
<h1 class="page-title">Контакты</h1>
<div id="contacts-page">
  <p>Телефон: +7(7172) 36-50-19, +7(701) 554-11-21</p>

  <p>e-mail:<a href="mailto:ipotekacenter@gmail.com">ipotekacenter@gmail.com</a></p>
  <p>Адрес: Республика Казахстан, г.Астана, ул.Жирентаева, 15а.</p>
</div>