<!-- contacts page -->
<h1 class="page-title">Контакты</h1>
<div id="contacts-page">
  <p>Мобильный телефон: +7 775 434 38 34 (Жасулан)</p>
  <p>Телефон: + 7 7172 43 34 54</p>
  <p><a href="mailto:7172456462@mail.ru">7172456462@mail.ru</a></p>
  <p>Адрес: Республика Казахстан, г.Астана, пр. Сейфулина 135, кабинет 5</p>
  <p>
    <a href="/assets/website/location-map.png" id="location-map">Схема проезда</a>  
  </p>
</div>