<!-- search form -->
<div class="grid_10 push_1" id="search_form">
  <div class="grid_6 alpha" id="main-elements">
    <span class="s-f-title">
      Я хочу
    </span>
    <select id="" class="s-f-select">
      <option>снять</option>
      <option>купить</option>
      <option>обменять</option>
    </select>
    <select id="" class="s-f-select">
      <option>квартиру</option>
      <option>офис</option>
    </select>    
  </div>
  <div class="grid_3 omega" id="other-elements-button">
    <a href="#" id="other-elements-icon" title="Дополнительные параметры">
      <%= image_tag 'website/plus-icon.png', :alt => "Дополнительные параметры" %>
    </a>
  </div>
  <div class="clear"></div>
  <div class="grid_9" id="block-other-elements">
    <h3 class="other-elements-title">Дополнительные параметры</h3>
    <!-- jk -->
    <p>
      <span class="s-f-title">
        Жилой комплекс
      </span>
      <select class="s-f-select">
        <option>Все ЖК</option>
        <option>Жанур</option>
        <option>Байконур</option>
        <option>Триумф</option>
      </select>
    </p>
    <!-- price -->
    <p>
      <span class="s-f-title">
        Количество комнат
      </span>
      <input type="text" class="room-qty"> – <input type="text" class="room-qty">
    </p>
    <!-- rooms -->
    <p>
      <span class="s-f-title">
        Цена 
      </span>
      <input type="text" class="price-qty"> – <input type="text" class="price-qty">
      <select id="" class="s-f-select">
        <option>любая валюта</option>
        <option>доллар</option>
        <option>тенге</option>
        <option>евро</option>
        <option>рубль</option>
      </select>
    </p>
    <!-- area -->
    <p>
      <span class="s-f-title">Площадь</span>
      <input type="text" class="area-qty"> – <input type="text" class="area-qty">
      <span class="label-area">м<sup>2</sup></span>
    </p>
    <!-- floor -->
    <p>
      <span class="s-f-title">Этаж</span>
      <input type="text" class="floor-qty"> – <input type="text" class="floor-qty">
    </p>
  </div>
  <div class="clear"></div>
  <div class="grid_9">
    <input type="submit" value="Поиск" id="button-search">
  </div>
</div>
<div class="clear"></div>