<h1 class="title-page">Управление сайтом</h1>
<%= flash_msg(flash[:notice]) %>
<div id="website-manage">
  <ul id="list-website-cat">
    <li><%= link_to "Советы", website_advices_path %></li>
    <li><%= link_to "Информация о ЖК", website_states_path %></li>
  </ul>
</div>