<div class="links-type-subjects">
  <%= link_to 'все объекты', subjects_path %>
  <%= link_to 'активные объекты', active_subjects_path %>
  <%= link_to 'не активные объекты', inactive_subjects_path %>
</div>
<div class="clear"></div>