.value-title-in-table{
  font-size:11px;
  display: inline-block;
  float:right;
  a{
    background:#E6E6E6;
    color:#818181;
    padding:3px;
    text-decoration:none;
    &:hover{
      background:#C1C1C1;
      color:#656565;
    }
  }
}
#what-type-input{
  margin-left:20px;
}