#show-customer{
  background:#F9F9F9;
  padding:10px;
  border:1px solid #eee;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -o-border-radius:5px;
  font-size:15px;
  color:#111111;
  .actions-with-customers{
    margin:25px 0px 10px 0px;
    a{
      margin-right:7px;
    }
  }
  .typecustomer{
    font-weight:bold;
  }
  .typetransaction{
    font-weight:bold;
  }
  #fields-for-customers{
    float:left;
  }
  #man-called{
    // border:1px solid #ccc;
    float:right;

    top:100px;
    right:170px;
    position:relative;
    background:url('phone-call.png') no-repeat 60px 0px;
    height:130px;
    #man-called-but{
      position:relative;
      top:90px;
      font-size:11px;
    }
  }
}
.links-type-customers{
  // border:1px solid #ccc;
  margin-top:12px;
  float:right;
  a{
    text-decoration:underline;
    margin-left:25px;
    font-size:18px;
    color:#626262;
    &:hover{
      color:#858585;  
    }
  }
}
#customers-objects{
  padding:5px;
  .customer-object{
    border-bottom:1px solid #eee;
    padding-bottom:20px;
    h3{
      margin-bottom:5px;
    }
    margin-bottom:20px;
    .field-obj{
      margin-left:10px;
      margin-bottom:5px;
      font-size:12px;
      span{
        display:inline-block;
        min-width:140px;
      }
    }
  }
}
.field-customer{
  margin-bottom:15px;
  .title-field{
    color:#8B8B8B;
    display:inline-block;
    min-width:230px;
  }
}
.field-c-c-title{
  font-size:18px;
  margin-bottom:10px;
  letter-spacing:-0.5px;
  color:#5D5D5D;
  font-weight:normal;
}
.field-customer-contacts{
  // border:1px solid #ccc;
  .field-customer-c{
    margin-bottom:7px;
    margin-left:5px;
    font-size:12px;
    .title-field{
      color:#5D5D5D;
      display:inline-block;
      min-width:210px;
    }
  }
}
#customers_table th .current{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

#customers_table th .asc { 
  background-image: url(sort_asc.png);
}
#customers_table th .desc { 
  background-image: url(sort_desc.png); 
}
.customer-note{
  background:#ffffff;
  border:1px solid #eee;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  -o-border-radius:10px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Для Firefox */
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Для Safari и Chrome */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Параметры тени */
  padding: 15px;
  margin: 15px 15px 25px 0px;
  width: 400px;
  line-height: 1.5;
}
#note-field{
  margin-top:20px;
}
#customer_note{
  width:350px;
  height:150px;
}
.advanced-li-tab{
  font-size:11px;
  a{
    color:#6A6A6A;
  }
}
.zero-subjects-customer-title{
  font-weight:normal;
  font-size:18px;
  margin:20px 0px;
}
// customer -> tab transactions
#customer-transactions-content{
  padding:5px;
  .customer-transaction{
    border-bottom:1px solid #eee;
    padding-bottom:20px;
    h3{
      margin-bottom:5px;
    }
    margin-bottom:20px;
    .field-obj{
      margin-left:10px;
      margin-bottom:5px;
      font-size:12px;
      span{
        display:inline-block;
        min-width:140px;
      }
    }
  }
}
.label-destroy-more-phone{
  display: inline-block;
  font-size:10px;
  // border:1px solid #ccc;
  position:relative;
  top:2px;
}
.more-phones{
  display:none;
}
.add-more-phone{
  margin-left:10px;
  img{
    position:relative;
    top:2px;
  }
  &:hover{
    cursor:pointer;
  }
}
.label-more-phone{
  font-size:11px;
  color:#7A7A7A;
}
.content-customer-note{
  padding-left:5px;
  font-size:12px;
}