#show-task{
  background:#F9F9F9;
  padding:10px;
  border:1px solid #eee;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -o-border-radius:5px;
  font-size:15px;
  color:#111111;
  width: 800px;
  .field-task{
    margin-bottom:15px;
    .title-field{
      color:#8B8B8B;
      display:inline-block;
      min-width:200px;
    }
  }
  .task-desc{
    background:#ffffff;
    border:1px solid #eee;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -o-border-radius:10px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Параметры тени */
    padding: 15px;
    margin: 15px 15px 25px 0px;
    width: 400px;
    line-height: 1.5;
  }
  h6{
    padding-bottom: 15px;
    text-decoration: underline;
    color:#000;
  }
  .actions-with-tasks{
    margin:30px 0px 10px 0px;
    a{
      margin-right:7px;
    }
  }
}
.links-type-tasks{
  margin-top:12px;
  float:right;
  a{
    text-decoration:underline;
    margin-left:25px;
    font-size:18px;
    color:#626262;
    &:hover{
      color:#858585;  
    }
  }
}
#tasks_table th .current{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
}

#tasks_table th .asc { 
  background-image: url(sort_asc.png);
}
#tasks_table th .desc { 
  background-image: url(sort_desc.png); 
}
#not_done_task{
  //background: #B6E4F8;
  background: #B6E4F8 url(ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
}