// Place all the styles related to the website_manage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#website-manage{
  border:1px dashed #eee;
  background:#FBFBFB;
  &:hover{
    background:#fff;
  }
  padding:10px;
  #list-website-cat{
    li{
      margin-top:10px;
      font-size:18px;
    }
  }
}

#website_advice_body{
  width:300px;
}