<div class="grid_12" id="footer">
  <span id="f-copyright">
    &copy; Империя Квартир 2012
  </span>
  <span id="double-navbar">
    <ul>
      <li>
        <%= link_to "Поиск", root_path %>
      </li>
      <li><%= link_to "Горячие предложения", hot_deals_path %></li>
      <li><a href="#">Информация о ЖК</a></li>
    </ul>
    <ul>
      <li><a href="#">Полезные советы</a></li>
      <li><%= link_to "О компании", about_path %></li>
      <li><%= link_to "Контакты", contacts_path %></li>
    </ul>
  </span>
  <div id="dev-copyright">
    <div id="dev-etvans">
      Интеграция с сервисом <a href="http://etvans.com">Этванс</a>
    </div>
    <div id="dev-company">
      Сделано в <a href="http://remeli.kz"><span class="first-l">R</span>emeli</a>
    </div>
  </div>
</div>