<div class="grid_12" id="header">
  <div class="grid_5 alpha">
    <%= link_to(image_tag('/assets/logo-ipc.png', :class => "website_logo"), root_path) %>
  </div>
  <div class="grid_7 omega" id="header-description">
    
  </div>
</div>
<div class="clear"></div>
<!-- navbar -->
<%= render partial: 'layouts/website_partials/navbar' %>