<div class="grid_12" id="header">
  <div class="grid_5 alpha">
    <%= link_to(image_tag('/assets/website/logo-imkv.png'), root_path) %>
  </div>
  <div class="grid_7 omega" id="header-description">
    Риэлторское агентство в городе Астана. Продажа, аренда любых квартир в любом районе в Астане.
  </div>
</div>
<div class="clear"></div>
<!-- navbar -->
<%= render partial: 'layouts/website_partials/navbar' %>